.findblood-container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#efefef;
}

.findblood-card{
  width:1000px;
  height:520px;
  background:#f8f8f8;
  display:flex;
  border-radius:10px;
  box-shadow:0 5px 20px rgba(0,0,0,0.08);
  overflow:hidden;
}

/* Left gradient panel */

.findblood-left{
  width:45%;
  background:linear-gradient(135deg,#6e002b,#c2173d);
}

/* Right side */

.findblood-right{
  width:55%;
  padding:40px 60px;
}

.findblood-right h2{
  margin-bottom:35px;
}

.form-group{
  margin-bottom:25px;
}

.form-group label{
  display:block;
  margin-bottom:6px;
  color:#555;
}

.form-group select{
  width:100%;
  padding:10px;
  border:1px solid #ccc;
  border-radius:6px;
}

/* Current location button */

.location-btn{
  width:100%;
  padding:12px;
  background:black;
  color:white;
  border:none;
  border-radius:8px;
  margin-top:10px;
  cursor:pointer;
}

.location-btn:hover{
  background:#333;
}

.or-text{
  text-align:center;
  margin:15px 0;
  color:#888;
}

.proceed-row{
  margin-top:40px;
  display:flex;
  justify-content:flex-end;
}

.proceed-btn{
  padding:12px 28px;
  background:#eaeaea;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

.proceed-btn:hover{
  background:#d9d9d9;
}